<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/custom.css" rel="stylesheet">

    
  </head>

  <body>

    <div class="container">
      <h1 style="margin-left:300px!important; color:rgb(204,184,47); text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25)">&#35;Gorilla FrameWork</h1>

      <form class="form-signin" role="form" method="post" action="../controllers/signin-test.php">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" style="width:330px" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" style="width:330px" name="password" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-large btn-success btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    
  </body>
</html>